body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links, .f-info-brand,.f-info.socials{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    margin-top: auto;
    height: 8rem;
    text-align: center;
    background-color: #ebebeb;
    display: flex;
    align-items: space-evenly;
    flex-wrap: wrap;
    justify-content: center;

}
/*cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit: cover !important;
   
}
.card-body{
    padding: 0px !important;
}
.card-text{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

#map {
    height: 400px;
    width: 80vh;
}

.listing-img{
    width: 100px !important;
    height: 100px !important;
    object-fit: cover !important;
}

/* #filters{
    display: flex;
    flex-wrap: wrap;
}

.filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 1rem;
    opacity: 0.8;
}
.filter:hover{
    opacity: 1;
}
.filter p{
    font-size: 0.8rem;
} */